#navigationbar {
	width:100%;
	background-color: black;
}

#dialog {
	border:1px solid black;
}

.ui-dialog-titlebar-close {
	background-image: url(../js/jquery-ui-1.10.4/themes/base/images/ui-icons_888888_256x240.png);
}